version: "3.9"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.local
    container_name: ifrs9pro_fastapi_dev
    command: >
      uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    ports:
      - "8000:8000"
    env_file: .env
    environment:
      DEBUG: "True"
    volumes:
      - .:/app
    depends_on:
      db:
        condition: service_healthy
      minio:
        condition: service_healthy
    restart: "no"
    networks:
      - ifrs9pro_network

  db:
    image: postgres:16-alpine
    container_name: ifrs9pro_postgres_dev
    env_file: .env
    environment:
      POSTGRES_INITDB_ARGS: "--encoding=UTF-8 --lc-collate=C --lc-ctype=C"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U $POSTGRES_USER -d $POSTGRES_DB" ]
      interval: 10s
      timeout: 5s
      retries: 10
    restart: "no"
    networks:
      - ifrs9pro_network

  pgadmin:
    image: dpage/pgadmin4
    container_name: ifrs9pro_pgadmin_dev
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@local.dev
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - db
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    restart: "no"
    networks:
      - ifrs9pro_network

  minio:
    image: minio/minio:latest
    container_name: ifrs9pro_minio_dev
    command: server /data --console-address ":9001"
    env_file: .env
    environment:
      MINIO_ROOT_USER: ${MINIO_ACCESS_KEY}
      MINIO_ROOT_PASSWORD: ${MINIO_SECRET_KEY}
    volumes:
      - minio_data:/data
    ports:
      - "9000:9000"
      - "9001:9001"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9000/minio/health/live" ]
      interval: 30s
      timeout: 20s
      retries: 5
    restart: "no"
    networks:
      - ifrs9pro_network

  minio-init:
    image: minio/mc
    depends_on:
      minio:
        condition: service_healthy
    entrypoint: >
      /bin/sh -c " mc alias set local http://minio:9000 $MINIO_ACCESS_KEY $MINIO_SECRET_KEY; mc mb local/ifrs9-documents || true; mc mb local/ifrs9-models || true; exit 0; "
    env_file: .env
    networks:
      - ifrs9pro_network

networks:
  ifrs9pro_network:
    driver: bridge

volumes:
  postgres_data:
  minio_data:
  pgadmin_data:
